@model BandTheBirdProj.Models.Researcher

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body style="background-color: lightgray">
        <h1>Your Profile</h1>

        <div>

            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ResearchSiteAddress)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ResearchSiteAddress)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ResearchSiteCity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ResearchSiteCity)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ResearchSiteState)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ResearchSiteState)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ResearchSiteZip)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ResearchSiteZip)
                </dd>

            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ResearchId">Edit</a> |
            <a asp-action="Index">Home</a>
        </div>

    </body>
