@model BandTheBirdProj.Models.BiologicalViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

</style>
 


<h4>BiologicalData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBiological">
            @if ((bool)ViewData["WasInvalid"])
            {
                <p>@ViewData["InvalidMessage"]</p>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="VerifyData" /> @Html.DisplayNameFor(model => model.VerifyData)
                    </label>

                </div>

            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" id="text">
                <label asp-for="BiologicalData.Age" class="control-label"></label>
                @*<input asp-for="BiologicalData.Age" class="form-control" />*@
                @Html.DropDownList("BiologicalData.Age", new SelectList(ViewBag.Age, "Id", "Name"))
                <span asp-validation-for="BiologicalData.Age" class="text-danger"></span>
            </div>

            <div class="form-group" id="text">
                <label asp-for="BiologicalData.HowAged" class="control-label"></label>
                @*<input asp-for="BiologicalData.HowAged" class="form-control" />*@
                @Html.DropDownList("BiologicalData.HowAged", new SelectList(ViewBag.How, "Code", "Name"))
                <span asp-validation-for="BiologicalData.HowAged" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiologicalData.Sex" class="control-label"></label>
                @*<input asp-for="BiologicalData.Sex" class="form-control" />*@
                @Html.DropDownList("BiologicalData.Sex", new SelectList(ViewBag.Sex, "Code", "Name"))
                <span asp-validation-for="BiologicalData.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiologicalData.HowSexed" class="control-label"></label>
                @*<input asp-for="BiologicalData.HowSexed" class="form-control" />*@
                @Html.DropDownList("BiologicalData.HowSexed", new SelectList(ViewBag.How, "Code", "Name"))
                <span asp-validation-for="BiologicalData.HowSexed" class="text-danger"></span>
            </div>
            <span>Enter CP data?</span>
            <input type="button" value="Yes" name="btnCP" /><br><br />
            <div class="form-group" id="cp" style="display: none">
                <label asp-for="BiologicalData.CloacalProtuberance" class="control-label"></label>
                @*<input asp-for="BiologicalData.CloacalProtuberance" class="form-control" />*@
                @Html.DropDownList("BiologicalData.Skull", new SelectList(ViewBag.Skull, "Id", "Name"))
                <span asp-validation-for="BiologicalData.CloacalProtuberance" class="text-danger"></span>
            </div>
            <span>Enter BP data?</span>
            <input type="button" value="Yes" name="btnBP" /><br><br />
            <div class="form-group" id="bp" style="display: none">
                <label asp-for="BiologicalData.BroodPatch" class="control-label"></label>
                <input asp-for="BiologicalData.BroodPatch" class="form-control" />
                <span asp-validation-for="BiologicalData.BroodPatch" class="text-danger"></span>
            </div>
            <span>Enter Skull data?</span>
            <input type="button" value="Yes" name="btnskull" /><br><br />
            <div class="form-group" id="skull" style="display: none">
                <label asp-for="BiologicalData.Skull" class="control-label"></label>
                @*<input asp-for="BiologicalData.Skull" class="form-control" />*@
                @Html.DropDownList("BiologicalData.Skull", new SelectList(ViewBag.Skull, "Id", "Name"))
                <span asp-validation-for="BiologicalData.Skull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiologicalData.Fat" class="control-label"></label>
                <input asp-for="BiologicalData.Fat" class="form-control" />
                <span asp-validation-for="BiologicalData.Fat" class="text-danger"></span>
            </div>
            <span>Enter Body Molt data?</span>
            <input type="button" value="Yes" name="btnbmolt" /><br><br />
            <div class="form-group" id="bodymolt" style="display: none">
                <label asp-for="BiologicalData.BodyMolt" class="control-label"></label>
                <input asp-for="BiologicalData.BodyMolt" class="form-control" />
                <span asp-validation-for="BiologicalData.BodyMolt" class="text-danger"></span>
            </div>
            <span>Enter Flight Feather Molt data?</span>
            <input type="button" value="Yes" name="btnffmolt" /><br><br />
            <div class="form-group" id="flightmolt" style="display: none">
                <label asp-for="BiologicalData.FlightFeatherMolt" class="control-label"></label>
                <input asp-for="BiologicalData.FlightFeatherMolt" class="form-control" />
                <span asp-validation-for="BiologicalData.FlightFeatherMolt" class="text-danger"></span>
            </div>
            <span>Enter Flight Feather Wear data?</span>
            <input type="button" value="Yes" name="btnffwear" /><br><br />
            <div class="form-group" id="flightwear" style="display: none">
                <label asp-for="BiologicalData.FlightFeatherWear" class="control-label"></label>
                <input asp-for="BiologicalData.FlightFeatherWear" class="form-control" />
                <span asp-validation-for="BiologicalData.FlightFeatherWear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiologicalData.Mass" class="control-label"></label>
                <input asp-for="BiologicalData.Mass" class="form-control" />
                <span asp-validation-for="BiologicalData.Mass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiologicalData.WingChord" class="control-label"></label>
                <input id="wingChordInput" asp-for="BiologicalData.WingChord" class="form-control" />
                <span asp-validation-for="BiologicalData.WingChord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiologicalData.TailLength" class="control-label"></label>
                <input id="tailLengthInput" asp-for="BiologicalData.TailLength" class="form-control" />
                <span asp-validation-for="BiologicalData.TailLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiologicalData.ExposedCulmen" class="control-label"></label>
                <input id="culmenInput" asp-for="BiologicalData.ExposedCulmen" class="form-control" />
                <span asp-validation-for="BiologicalData.ExposedCulmen" class="text-danger"></span>
            </div>
            <span>Enter Tarsus data?</span>
            <input type="button" value="Yes" name="btntarsus" /><br><br />
            <div class="form-group" id="tarsus" style="display: none">
                <label asp-for="BiologicalData.Tarsus" class="control-label"></label>
                <input asp-for="BiologicalData.Tarsus" class="form-control" />
                <span asp-validation-for="BiologicalData.Tarsus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiologicalData.Notes" class="control-label"></label>
                <input asp-for="BiologicalData.Notes" class="form-control" />
                <span asp-validation-for="BiologicalData.Notes" class="text-danger"></span>
            </div>
            @Html.HiddenFor(Model => Model.BiologicalData.BirdId)
            @Html.HiddenFor(Model => Model.Species.alphaCode)
            @Html.HiddenFor(Model => Model.Species.maxCulmen)
            @Html.HiddenFor(Model => Model.Species.minCulmen)
            @Html.HiddenFor(Model => Model.Species.maxWing)
            @Html.HiddenFor(Model => Model.Species.minWing)
            @Html.HiddenFor(Model => Model.Species.minTail)
            @Html.HiddenFor(Model => Model.Species.maxTail)

            <div class="form-group">
                @*<button type="button" onclick="validateForm()">Submit</button>*@
                <input id="submitFormButton" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("input[name=btnskull]").click(function () {
            if ($(this).val() == "Yes") {
                $("#skull").show();
            }
            else {
                $("#skull").hide();
            }
        });
      
    });

    $(function () {
        $("input[name=btnCP]").click(function () {
            if ($(this).val() == "Yes") {
                $("#cp").show();
            }
            else {
                $("#cp").hide();
            }
        });

    });

    $(function () {
        $("input[name=btnBP]").click(function () {
            if ($(this).val() == "Yes") {
                $("#bp").show();
            }
            else {
                $("#bp").hide();
            }
        });

    });

    $(function () {
        $("input[name=btnbmolt]").click(function () {
            if ($(this).val() == "Yes") {
                $("#bodymolt").show();
            }
            else {
                $("#bodymolt").hide();
            }
        });

    });

    $(function () {
        $("input[name=btnffmolt]").click(function () {
            if ($(this).val() == "Yes") {
                $("#flightmolt").show();
            }
            else {
                $("#flightmolt").hide();
            }
        });

    });

    $(function () {
        $("input[name=btnffwear]").click(function () {
            if ($(this).val() == "Yes") {
                $("#flightwear").show();
            }
            else {
                $("#flightwear").hide();
            }
        });

    });


    $(function () {
        $("input[name=btntarsus]").click(function () {
            if ($(this).val() == "Yes") {
                $("#tarsus").show();
            }
            else {
                $("#tarsus").hide();
            }
        });

    });
</script>



<div>
    <a asp-action="Index">Back to List</a>
</div>

