@model IEnumerable<BandTheBirdProj.Models.BandingViewModel>

@{
    ViewData["Title"] = "ViewData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View Data</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BandingData.BandNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandingData.CaptureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandingData.BanderIntials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandingData.CaptureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandingData.NetNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandingData.BandType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandingData.BandSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandingData.AlphaCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandingData.SpeciesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BandingData.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.HowAged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.HowSexed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.CloacalProtuberance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.BroodPatch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.Skull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.Fat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.BodyMolt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.FlightFeatherMolt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.FlightFeatherWear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.Mass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.WingChord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.TailLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.ExposedCulmen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.Tarsus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiologicalData.Notes)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BandingData.BandNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandingData.CaptureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandingData.BanderIntials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandingData.CaptureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandingData.NetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandingData.BandType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandingData.BandSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandingData.AlphaCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandingData.SpeciesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandingData.SiteName)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.Age)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.HowAged)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.Sex)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.HowSexed)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.CloacalProtuberance)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.BroodPatch)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.Skull)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.Fat)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.BodyMolt)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.FlightFeatherMolt)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.FlightFeatherWear)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.Mass)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.WingChord)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.TailLength)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.ExposedCulmen)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.Tarsus)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.BiologicalData.Notes)
            </td>
           
        </tr>
}
    </tbody>
</table>
